
<div class="papelaria-vitrine">
  <!--categorias -->
  <div class="container">
    <div class="category-filter mb-4">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <h2>Pesquisa por: <b>{{termoBusca}}</b></h2>
      </div>
    </div>

    <div *ngIf="mensagem" class="alert alert-info mb-4">{{mensagem}}</div>

    <!-- Lista de produtos -->
    <div class="row g-4">
      <div *ngFor="let obj of lista" class="col-lg-4 col-md-6 col-sm-12">
        <div class="card h-100 product-card">

          <div class="product-badge" *ngIf="obj.valorPromo < obj.valor && obj.quantidade > 0">
            <span class="badge bg-danger">Oferta!</span>
          </div>

          <div class="product-badge out-of-stock" *ngIf="obj.quantidade <= 0">
            <span class="badge bg-secondary">Sem estoque</span>
          </div>


          <img class="card-img-top product-img" [src]="obj.imagem" alt="{{obj.nome}}" (click)="carregar(obj)">
          <div class="card-body d-flex flex-column">
            <div class="card-category text-muted small mb-2">
              {{obj.categoria === 'escolar' ? 'Material Escolar' : 
                obj.categoria === 'escritorio' ? 'Escritório' : 
                obj.categoria === 'arte' ? 'Artes e Pintura' : ''}}
            </div>

            <h5 class="card-title">{{obj.nome}}</h5>
            
            <p class="card-text flex-grow-1">{{obj.descritivo}}</p>
            
            <div class="product-price mb-3" *ngIf="obj.quantidade > 0" >
              <div *ngIf="obj.valorPromo >= obj.valor" class="regular-price">
                R$ {{obj.valor.toFixed(2).replace('.', ',')}}
              </div>
              <div *ngIf="obj.valorPromo < obj.valor" class="promo-price">
                <span class="old-price">R$ {{obj.valor.toFixed(2).replace('.', ',')}}</span>
                <span class="new-price">R$ {{obj.valorPromo.toFixed(2).replace('.', ',')}}</span>
              </div>
            </div>
            
            <div class="d-flex justify-content-between">
              <button class="btn btn-outline-primary" 
                     *ngIf="obj.quantidade>0"
                     (click)="carregar(obj)">
                Detalhes
              </button>
              
              <button class="btn btn-primary" 
                    *ngIf="obj.quantidade>0"
                    (click)="comprar(obj)">
                <i class="bi bi-cart-plus"></i> Comprar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>